table.graha input[type='text'], table.graha select, table.graha textarea {
	width:100%;
}
table.graha input[type='text'] {
	width:calc(100% - 15px);
	width: fill-available;
	width: -moz-fill-available;
	width: -webkit-fill-available;
}
table.graha textarea {
	height:300px;
}
select, input[type='text'], input[type='submit'], input[type='button'], button {
	font-size:18px;
	vertical-align: middle;
}