table.graha input[type='text'].graha,
table.graha input[type='password'].graha,
table.graha select.graha,
table.graha textarea.graha {
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
table.graha textarea.graha {
	height:300px;
}
select.graha,
input[type='text'].graha,
input[type='password'].graha,
input[type='submit'].graha,
input[type='button'].graha, button.graha {
	font-size:18px;
	vertical-align: middle;
}